<!--
  ~ This file is part of the Timp software.
  ~
  ~ (c) Timp <https://gitlab.com/gitlab-timp>
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  -->

<form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="txtAccessToken" class="col-md-2 control-label">Access token</label>
        <div class="col-md-4">
            <input id="txtAccessToken" type="password" class="form-control" formControlName="accessToken" required>
        </div>
    </div>
    <div *ngIf="error" class="col-md-4 col-md-offset-1">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <strong>Error!</strong> Wrong access token.
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" [disabled]="!loginForm.valid">Sign in</button>
        </div>
    </div>
</form>
