<!--
  ~ This file is part of the Timp software.
  ~
  ~ (c) Timp <https://gitlab.com/gitlab-timp>
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  -->

<div class="container-fluid">
    <div class="row" *ngIf="isLoadingData">
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <mat-card-title><h2 i18n="@@fetchingData">Fetching data</h2></mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <mat-grid-list cols="12" rowHeight="30" *ngFor="let step of loadingSteps">
                    <mat-grid-tile [colspan]="5">
                        <div class="loading-status"><h5>{{step.statusMsg}}</h5></div>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="7" *ngIf="step.loading">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="7" *ngIf="step.done">
                        <mat-icon class="green-icon">check_circle</mat-icon>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="7" *ngIf="step.error">
                        <mat-icon class="red-icon">error</mat-icon>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="row" *ngIf="!isLoadingData && !isLoadingDataError">
        <mat-grid-list cols="12" rowHeight="40">
            <mat-grid-tile class="mat-elevation-z4 change-week-tile">
                <button mat-button class="change-week-button" (click)="previousWeek()">
                    <mat-icon aria-label="Previous week">arrow_back</mat-icon>
                </button>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2"></mat-grid-tile>

            <mat-grid-tile>
                <mat-chip-list>
                    <mat-chip color="primary" selected>
                        <b>{{workWeek.weekNumber}}</b>
                    </mat-chip>
                </mat-chip-list>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="5">
                <h5><b>{{workWeek.start | date}}</b> - <b>{{workWeek.end | date}}</b></h5>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2"></mat-grid-tile>

            <mat-grid-tile class="mat-elevation-z4 change-week-tile">
                <button mat-button class="change-week-button" (click)="nextWeek()">
                    <mat-icon aria-label="Next week">arrow_forward</mat-icon>
                </button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div class="row" *ngIf="!isLoadingData && !isLoadingDataError">
        <div fxFlexFill class="logs-days-container">
            <div fxFlex style="flex: 1 1 0; margin-right: 5px" *ngFor="let workDay of myWorkDays">
                <app-log-day [data]="workDay"></app-log-day>
            </div>
        </div>
    </div>

    <div class="row mt-10" *ngIf="!isLoadingData && !isLoadingDataError">
        <mat-chip-list>
            <mat-chip *ngFor="let entry of legend" [style.background]="entry.color">
                <h6><b>{{entry.tag}}</b></h6>
            </mat-chip>
        </mat-chip-list>
    </div>
</div>
