/*
 * This file is part of the Timp software.
 *
 * (c) Timp <https://gitlab.com/gitlab-timp>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.change-week-button {
    height: 100%;
    width: 100%;
}

.change-week-tile {
    background: white;
}

.current-week {
    background: white;
}

.loading-shade {
    align-items: center;
    background: rgba(0, 0, 0, 0.15);
    bottom: 56px;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.loading-status {
    align-items: flex-start;
    display: flex;
    margin-left: 10px;
    width: 100%;
}

.logs-days-container {
    align-content: stretch;
    align-items: stretch;
    /*box-sizing: border-box;*/
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    /*line-height: 19.6px;*/
    max-height: 80%;
    min-height: 50%;
    min-width: 100%;
    width: 100%;
}
