<!--
  ~ This file is part of the Timp software.
  ~
  ~ (c) Timp <https://gitlab.com/gitlab-timp>
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  -->

<div class="container">
    <h3>Which login do you want to use</h3>
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>Access token</ng-template>
            <div class="pt-15 col-md-12">
                <app-access-token-login-form></app-access-token-login-form>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>OAuth</ng-template>
            <div class="pt-15 col-md-12">
                <app-oauth-login-form></app-oauth-login-form>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
