<!--
  ~ This file is part of the Timp software.
  ~
  ~ (c) Timp <https://gitlab.com/gitlab-timp>
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  -->

<div class="wrapper">
    <div class="sidebar" data-background-color="black" data-active-color="info">
        <app-sidebar-cmp></app-sidebar-cmp>
    </div>

    <div class="main-panel">
        <app-navbar-cmp></app-navbar-cmp>

        <div class="content">
            <router-outlet></router-outlet>
        </div>

        <app-footer-cmp></app-footer-cmp>
    </div>
</div>
