/*
 * This file is part of the Timp software.
 *
 * (c) Timp <https://gitlab.com/gitlab-timp>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.log-entry-container {
    height: auto;
    margin-top: 5px;
    overflow: auto;
    width: 100%;
}

.project-path {
    height: 22px;
    overflow: hidden;
    white-space: normal;
    width: 100%;
    word-break: break-all;
}

.noteable-title {
    height: 22px;
    overflow: hidden;
    white-space: normal;
    width: 100%;
    word-break: break-all;
}
