<!--
  ~ This file is part of the Timp software.
  ~
  ~ (c) Timp <https://gitlab.com/gitlab-timp>
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  -->

<div class="log-entry-container">
    <mat-card [ngStyle]="{'background-color': cardBackgroundColor}">
        <mat-card-header>
            <mat-card-title>
                <div class="noteable-title">
                    <b>{{data.noteable_title}}</b>
                </div>
            </mat-card-title>

            <mat-card-subtitle>
                <div class="project-path">
                    {{data.project_path}}
                </div>
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <mat-grid-list cols="2" rowHeight="40">
                <mat-grid-tile>
                    <div class="flex-start">
                        <mat-chip [style.background]="iidBackgroundColor" selected>
                            <b>#{{data.noteable_iid}}</b>
                        </mat-chip>
                    </div>
                </mat-grid-tile>

                <mat-grid-tile>
                    <b>{{humanReadableTime}}</b>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
</div>
