<!--
  ~ This file is part of the Timp software.
  ~
  ~ (c) Timp <https://gitlab.com/gitlab-timp>
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  -->

<div class="container-fluid">
    <div class="row" *ngIf="isLoadingData">
        <div class="col-md-12">
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <mat-card-title><h2 i18n="@@fetchingData">Fetching data</h2></mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <mat-grid-list cols="12" rowHeight="30" *ngFor="let step of loadingSteps">
                        <mat-grid-tile [colspan]="5">
                            <div class="loading-status"><h5>{{step.statusMsg}}</h5></div>
                        </mat-grid-tile>

                        <mat-grid-tile [colspan]="7" *ngIf="step.loading">
                            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                        </mat-grid-tile>

                        <mat-grid-tile [colspan]="7" *ngIf="step.done">
                            <mat-icon class="green-icon">check_circle</mat-icon>
                        </mat-grid-tile>

                        <mat-grid-tile [colspan]="7" *ngIf="step.error">
                            <mat-icon class="red-icon">error</mat-icon>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="row" *ngIf="isLoadingData === false && isLoadingDataError === false">
        <div class="col-md-12">
            <mat-card class="mat-elevation-z4">
                <div class="card-container">
                    <div class="col-md-12">
                        <mat-form-field class="filter">
                            <mat-select placeholder="Reports" [(ngModel)]="cReportId">
                                <mat-option *ngFor="let r of reports" [value]="r.id">{{r.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>

    <div class="row mt-10 pb-5" *ngIf="cReportId == 1">
        <app-project-labels-by-users [rawData]="rawData"></app-project-labels-by-users>
    </div>
    <div class="row mt-10 pb-5" *ngIf="cReportId == 2">
        <app-time-by-project [rawData]="rawData"></app-time-by-project>
    </div>
    <div class="row mt-10 pb-5" *ngIf="cReportId == 3">
        <app-issues-by-project [rawData]="rawData"></app-issues-by-project>
    </div>
    <!--</div>-->

</div>
