<!--
  ~ This file is part of the Timp software.
  ~
  ~ (c) Timp <https://gitlab.com/gitlab-timp>
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <app-issues-list></app-issues-list>
        </div>

        <div class="col-md-6">
            <app-merge-requests-list></app-merge-requests-list>
        </div>
    </div>
</div>
