<!--
  ~ This file is part of the Timp software.
  ~
  ~ (c) Timp <https://gitlab.com/gitlab-timp>
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  -->

<form class="form-horizontal" [formGroup]="loginForm">
    <div class="form-group">
        <label for="txtUsername" class="col-md-2 control-label">Client ID</label>
        <div class="col-md-4">
            <input id="txtUsername" type="text" class="form-control" formControlName="clientId">
        </div>
    </div>
    <div class="form-group">
        <label for="txtPassword" class="col-md-2 control-label">Client secret ID</label>
        <div class="col-md-4">
            <input id="txtPassword" type="text" class="form-control" formControlName="clientSecretId">
        </div>
    </div>
</form>
