<!--
  ~ This file is part of the Timp software.
  ~
  ~ (c) Timp <https://gitlab.com/gitlab-timp>
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  -->

<div class="col-md-3">
    <mat-card class="mat-elevation-z4">
        <mat-card-header>
            <mat-card-title><h4 i18n="@@filters">Filters</h4></mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="card-container">
                <div class="loading-shade" *ngIf="isLoadingData">
                    <mat-spinner></mat-spinner>
                </div>

                <form [formGroup]="filtersForm">
                    <!--fxFlex fxLayout="column" autocomplete="off" style="margin: 30px">-->
                    <div class="col-md-12">
                        <mat-form-field class="filter">
                            <mat-select placeholder="Projects" formControlName="projectSelect">
                                <mat-option *ngFor="let p of rawData?.projects" [value]="p.id"
                                            (click)="changeProject()">
                                    {{p.name_with_namespace}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-12" *ngIf="showFilter()">
                        <mat-form-field class="filter">
                            <mat-select placeholder="Members" formControlName="membersSelect" multiple>
                                <mat-select-trigger>
                                    {{getMTrigerred()}}
                                </mat-select-trigger>

                                <mat-option #allMembers (click)="toggleMAll()" [value]="allOption">All</mat-option>
                                <mat-option *ngFor="let m of project?.members" [value]="m.id"
                                            (click)="toggleMOne(allMembers.viewValue)">
                                    {{m.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-12" *ngIf="showFilter()">
                        <mat-form-field class="filter">
                            <input matInput [max]="toDate" formControlName="fromDate" [matDatepicker]="pickerFrom"
                                   placeholder="From" (dateChange)="changeFromDate()">
                            <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #pickerFrom disabled="false"></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="col-md-12" *ngIf="showFilter()">
                        <mat-form-field class="filter">
                            <input matInput [min]="fromDate" formControlName="toDate" [matDatepicker]="pickerTo"
                                   placeholder="To" (dateChange)="changeToDate()">
                            <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #pickerTo disabled="false"></mat-datepicker>
                        </mat-form-field>
                    </div>           
                </form>
                <div class="col-md-12" *ngIf="showFilter()">
                    <mat-checkbox (change)="updateChartType()">Switch Chart</mat-checkbox>
                    <mat-checkbox (change)="toggleAccessibility()">Accessibility</mat-checkbox>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<div class="col-md-9" *ngIf="showFilter()">
    <mat-card class="mat-elevation-z4">
        <div class="loading-shade" *ngIf="isLoadingData || isComputingData">
            <mat-spinner></mat-spinner>
        </div>

        <div *ngIf="!hasReport">
            <h6 i18n="@@noReport">There is no report for the applied filter.</h6>
        </div>

        <div class="chart-container" *ngIf="hasReport">
            <canvas baseChart *ngIf="chartType === 'pie'"
                [chartType]="chartType"
                [datasets]="chartDatasets" 
                [labels]="chartLabels"
                [legend]="chartLegend"
                [colors]="chartColors"
                [options]="chartOptions">
            </canvas>

            <canvas baseChart *ngIf="chartType === 'horizontalBar'"
                [chartType]="chartType"
                [datasets]="chartDatasets" 
                [labels]="chartLabels"
                [legend]="chartLegend"
                [colors]="chartColors"
                [options]="chartOptions">
            </canvas>
        </div>
    </mat-card>
</div>
