/*
 * This file is part of the Timp software.
 *
 * (c) Timp <https://gitlab.com/gitlab-timp>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.pb-5 {
    padding-bottom: 5px;
}

.pt-5 {
    padding-top: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.green-icon {
    color: green;
}

.green-icon svg {
    fill: green;
}

.red-icon {
    color: green;
}

.red-icon svg {
    fill: green;
}

.text-cell-justify {
    text-align: justify;
    white-space: pre-wrap;
    word-wrap: break-spaces;
}

.flex-start {
    align-items: flex-start;
    display: flex;
    width: 100%;
}

.loading-status {
    align-items: flex-start;
    display: flex;
    margin-left: 10px;
    width: 100%;
}

.loading-shade {
    align-items: center;
    background: rgba(0, 0, 0, 0.15);
    bottom: 56px;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 1;
}

.filter {
    width: 100%;
}

/* *********************************************************************************************************************
                                        CONTAINERS
 ******************************************************************************************************************** */
.card-container {
    overflow: auto;
    width: 100%;
}

.chart-container {
    height: 70vh;
    overflow: auto;
    display: block;
    width: 100%;
}

.filters-container {
    height: 500px;
    overflow: auto;
    width: 100%;
}

.table-container {
    max-height: 400px;
    overflow: auto;
    position: relative;
    width: 100%;
}
