/*
 * This file is part of the Timp software.
 *
 * (c) Timp <https://gitlab.com/gitlab-timp>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.log-day-container {
    padding-top: 10px;
    max-height: 100%;
    max-width: 100%;
    min-width: 14%;
}

.logs-entry-container {
    height: 500px;
    overflow: auto;
    padding-top: 10px;
    padding-right: 5px;
    width: 100%;
}
