<!--
  ~ This file is part of the Timp software.
  ~
  ~ (c) Timp <https://gitlab.com/gitlab-timp>
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  -->

<div class="log-day-container">
    <mat-card class="mat-elevation-z4" [ngStyle]="{'background-color': cardBackgroundColor}">
        <mat-card-header>
            <mat-card-title>
                <h5><b>{{weekDayName}}</b></h5>
            </mat-card-title>

            <mat-card-subtitle>
                {{data.date | date}}
            </mat-card-subtitle>
        </mat-card-header>

        <mat-divider></mat-divider>

        <mat-card-content>
            <div class="logs-entry-container">
                <app-log-entry [data]="log" *ngFor="let log of data.logs"></app-log-entry>
            </div>
        </mat-card-content>

        <mat-divider></mat-divider>

        <mat-card-footer>
            <mat-grid-list cols="2" rowHeight="40">
                <mat-grid-tile>
                    <b>Total</b>
                </mat-grid-tile>

                <mat-grid-tile>
                    <b>{{humanReadableTotal}}</b>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-footer>
    </mat-card>
</div>