/*
 * This file is part of the Timp software.
 *
 * (c) Timp <https://gitlab.com/gitlab-timp>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

table {
    width: 100%;
}

.element-detail-row {
    height: 0;
}

.element-row:not(.expanded-row):hover {
    background: #f5f5f5;
}

.element-row:not(.expanded-row):active {
    background: #efefef;
}

.text-cell-center {
    text-align: center;
    white-space: pre-wrap;
    word-wrap: break-spaces;
}

.text-cell-justify {
    text-align: justify;
    white-space: pre-wrap;
    word-wrap: break-spaces;
}

.element-detail {
    display: flex;
    overflow: hidden;
    padding: 5px 0;
}

.element-row td {
    border-bottom-width: 0;
}
