<!--
  ~ This file is part of the Timp software.
  ~
  ~ (c) Timp <https://gitlab.com/gitlab-timp>
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  -->

<mat-card>
    <mat-card-header>
        <mat-card-title i18n="@@issues"><h2>Issues</h2></mat-card-title>
        <mat-card-subtitle i18n="@@assignedIssuesAllDesc">Issues assinged to you across all projects</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <div class="card-container">
            <div class="loading-shade" *ngIf="isLoadingData || isLoadingExpand">
                <mat-spinner></mat-spinner>
            </div>

            <div class="table-container">
                <table mat-table [dataSource]="data" multiTemplateDataRows>
                    <ng-container matColumnDef="iid">
                        <th mat-header-cell *matHeaderCellDef class="col-md-1">
                            <h5>#</h5>
                        </th>

                        <td mat-cell *matCellDef="let row" class="col-md-1">
                            {{row.iid}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef i18n="@@title" class="col-md-7 text-cell-justify">
                            <h5>Title</h5>
                        </th>

                        <td mat-cell *matCellDef="let row" class="col-md-7 text-cell-justify">
                            {{row.title}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="estimate">
                        <th mat-header-cell *matHeaderCellDef i18n="@@timeEstimate"
                            class="col-md-2 text-cell-center">
                            <h5>Time estimate</h5>
                        </th>

                        <td mat-cell *matCellDef="let row" class="col-md-2 text-cell-center">
                            {{row.time_stats.human_time_estimate}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="spend">
                        <th mat-header-cell *matHeaderCellDef i18n="@@totalTimeSpend"
                            class="col-md-2 text-cell-center">
                            <h5>Total time spend</h5>
                        </th>

                        <td mat-cell *matCellDef="let row" class="col-md-2 text-cell-center">
                            {{row.time_stats.human_total_time_spent}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="expandedDetail">
                        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                            <div class="element-detail" [@detailExpand]="getDetailDisplayMode(element)">
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <div class="col-md-4 text-left">
                                            <b i18n="@@project">Project</b>
                                        </div>

                                        <div class="col-md-8 text-left">
                                            <p>{{element?.project?.name}}</p>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="col-md-4 text-left">
                                            <b i18n="createdAt">Created at</b>
                                        </div>

                                        <div class="col-md-8 text-left">
                                            <p>{{element?.created_at | date}}</p>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="col-md-4 text-left">
                                            <b i18n="@@updatedAt">Last update</b>
                                        </div>

                                        <div class="col-md-8 text-left">
                                            <p>{{element?.updated_at | date}}</p>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="col-md-4 text-left">
                                            <b i18n="@@labels">Labels</b>
                                        </div>

                                        <div class="col-md-8 text-left">
                                            <mat-chip-list class="mat-chip-list-stacked" aria-orientation="vertical">
                                                <mat-chip *ngFor="let label of element?.labels_full"
                                                          [style.background]="label.color">
                                                    {{label.name}}
                                                </mat-chip>
                                            </mat-chip-list>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">

                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay;"></tr>

                    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"
                        class="element-row"
                        [class.expanded-row]="isExpandedRow(row)"
                        (click)="loadIssueExpandedData(row)">
                    </tr>

                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="element-detail-row"></tr>
                </table>
            </div>

            <mat-paginator [length]="totalCount" [pageSize]="pageSize" showFirstLastButtons></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>
